body{
text-align:center;
color:turquoise;
}
#heading{
font-size:75px;
font-style:Italic;
}
#reason1{
font-size:50px;
font-style:Italic
}
#img1{
width:750px;
height:750px;
border-style:solid;
padding:5px;
border-radius:375px;
}
#reason2{
font-size:50px;
font-style:italic;
}